$color-main-background: rgb(225, 225, 228);
$color-main-input: #ffffff;
$color-border-input: #e5e5e4;
$color-container: #f8f8f9;
$color-button-main: rgb(17, 147, 154);
$color-primary: rgb(255, 255, 255);
$color-error: #ca3b27;
