.container {
  width: 40rem;
  padding: 3.2rem;
}

.formInfo {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
}

.emailInput {
  width: 100%;
  margin-bottom: 1.2rem;
}

.phoneInput {
  width: 100%;
}

.passwordInput {
  width: 100%;
  margin-bottom: 1.2rem;
}

.cityInput {
  width: 100%;
  margin-bottom: 1.2rem;
}

.codeInput {
  width: 100%;
  margin-bottom: 1.2rem;
}

.name {
  width: 50%;
}

.textWrapper {
  display: flex;
}

.paragraph {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
