@import "styles/abstracts/_variables";

.container {
  width: 40rem;
  height: 100%;
  padding: 3.2rem;
}

.formInfo {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
}

.emailInput {
  width: 100%;
  margin-bottom: 1.2rem;

  &:focus {
    outline: none;
    border: 1px solid #11939a;
  }
}

.phoneInput {
  width: 100%;
  &:focus {
    outline: none;
    border: 1px solid #11939a;
  }
}

.passwordInput {
  width: 100%;
  margin-bottom: 1.2rem;
  &:focus {
    outline: none;
    border: 1px solid #11939a;
  }
}

.cityInput {
  width: 100%;
  margin-bottom: 1.2rem;
  &:focus {
    outline: none;
    border: 1px solid #11939a;
  }
}

.codeInput {
  width: 100%;
  margin-bottom: 1.2rem;
  &:focus {
    outline: none;
    border: 1px solid #11939a;
  }
}

.name {
  width: 50%;
  &:focus {
    outline: none;
    border: 1px solid #11939a;
  }
}

.textWrapper {
  display: flex;
}

.paragraph {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
